{% extends 'base_auth.html' %}
{% load static %}
{% block title %}
        Reset Password
        {% endblock title %}
{% block content %}
  <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
                  <div class="card mt-5">
                          <div class="card-title m-auto p-auto p-3">
                                  <h4>Please Enter your Email To Get Reset Link</h4>
                          </div>

                          <div class="card-body">
                                  <form action="{% url 'reset-password' %}" method="POST">
                                          
                                   {% csrf_token %}
                                   {% include 'messages.html' %}
                                          
                                     
                                       
                                          <div class="form-group">
                                                <input type="email" name="email" id="email-field" class="form-control form-control-sm" placeholder="abc@gmail.com" value="{{values.email}}">
                                           </div>
                                        <div class="email_invalid_feedback invalid-feedback" style="display:none"></div>
                                        <p class="text-sm text-success emailSuccessOutput"></p>
                                           


                                          <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn">
                                  </form>
                                  <span><a href="{% url 'login-view' %}">Login Direct For Registered User's</a></span>
                          </div>
                          
                  </div>
          </div>
          <div class="col-md-4"></div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock content %}