{% extends 'base_auth.html' %}
{% load static %}
{% block title %}
        Set New Password
        {% endblock title %}
{% block content %}
  <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
                  <div class="card mt-5">
                          <div class="card-title m-auto p-auto p-3">
                                  <h4>Create New Password</h4>
                          </div>

                          <div class="card-body">
                                  <form action="{% url 'set-new-password' uidb64 token %}" method="POST">
                                          
                                   {% csrf_token %}
                                   {% include 'messages.html' %}
                                          
                                           <div class="form-group">
                                                <input type="password" name="password" id="password-field" class="form-control form-control-sm password-field" placeholder="New Password">
                                                <small class="float-right py-3 showPasswordToggle">HIDE</small>
                                            </div>

                                            <div class="form-group">
                                                <input type="password" name="password2" id="password-field2" class="form-control form-control-sm password-field" placeholder="Confirm Passowrd">
                                                <!-- <small class="float-right py-3 showPasswordToggle">HIDE</small> -->
                                            </div>
                                          <input type="submit" value="Register" class="btn btn-block btn-primary submit-btn">
                                  </form>
                                  <span><a href="{% url 'login-view' %}">Login Direct For Registered User's</a></span>
                          </div>
                          
                  </div>
          </div>
          <div class="col-md-4"></div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock content %}